<hr>
<footer class="text-center">
    <div class="mb-2">
        <small>
            © 2023 made with <i class="fa fa-heart" style="color:red"></i> by - <a target="_blank"
                rel="noopener noreferrer" href="#">
                Soumya Ranjan
            </a>
        </small>
    </div>
    <div>
        <a href="https://github.com/handsomm" target="_blank">
            <img alt="GitHub followers"
                src="https://img.shields.io/github/followers/azouaoui-med?label=github&style=social" />
        </a>
        <a href="https://twitter.com/shibuhandsomm" target="_blank">
            <img alt="Twitter Follow"
                src="https://img.shields.io/twitter/follow/azouaoui_med?label=twitter&style=social" />
        </a>
    </div>
</footer>