<!-- compulsery -->
{% extends 'laundry/main.html' %}
{% load static %}

{% block title %} Home {% endblock title %}

<!-- Message block -->
{% block msg %}
{% if messages %}
{% for message in messages %}
<script>
    window.addEventListener('load', function () {
        alert_toast('Success', '{{message}}', '{{message.tags}}');
    })
</script>
{% endfor %}
{% endif %}
{% endblock msg %}
<!-- End Message block -->


<!-- Main content -->
{% block content %}

<!-- Top section -->
{% if page_name %}
<div>
    <div class="content-header text-white" style="background-color: #5b5d62;">
        <h2 class="p-1">{{page_name}}</h2>
    </div>

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{page_name}}</li>
        </ol>
    </nav>

</div>
{% endif %}
<!-- End top section -->
<!-- end of compulsery -->

<!-- Main content -->
<style>
    .errorlist {
        color: var(--bs-danger)
    }
</style>
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-lg-6 col-md-8 col-sm-12 col-xs-12">
            <div class="card card-default rounded-0 shadow">
                <div class="card-header">
                    <h4 class="card-title"><b>Update Password</b></h4>
                </div>
                <div class="card-body">
                    <div class="container-fluid">
                        <form id="register-user" method="POST" action="{% url 'update-password' %}"
                            enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="mdc-layout-grid">
                                <div class="mdc-layout-grid__inner">

                                    {{ form.as_p }}
                                    <div class="form-group mb-3">
                                        <div class="d-flex w-100 justify-content-end">
                                            <button class="btn btn-sm rounded-0 btn-primary col-4">
                                                Update
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- End Main content -->

{% endblock content %}

<!-- End Main content -->