{% extends 'user/main.html' %}
{% load static %}

{% block title %} Home {% endblock title %}

<!-- Message block -->
{% block msg %}
{% if messages %}
{% for message in messages %}
<script>
    window.addEventListener('load', function () {
        alert_toast('Success', '{{message}}', '{{message.tags}}');
    })
</script>
{% endfor %}
{% endif %}
{% endblock msg %}
<!-- End Message block -->

<!-- Main content -->
{% block content %}

<!-- Top section -->
{% if page_name %}
<div>
    <div class="content-header text-white" style="background-color: #5b5d62;">
        <h2 class="p-1">{{page_name}}</h2>
    </div>

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{page_name}}</li>
        </ol>
    </nav>

</div>
{% endif %}
<!-- End top section -->

<!-- Main content -->

<section class="py-4">
    <div class="container">
        <h3 class="fw-bolder text-center">List of Laundries</h3>
        <center>
            <hr class="bg-primary opacity-100" style="height:3px" width="5%">
        </center>
        <div class="card rounded-0 shadow">
            <div class="card-body">
                <div class="container-fluid">
                    <div class="text-end mb-3">
                        <a class="btn btn-sm btn-primary rounded-0 bg-gradient-primary"
                            href="{% url 'manage-laundry' %}" id="create_new"><i class="fa fa-plus"></i> Add New</a>
                    </div>
                    <table class="table table-bordered table-striped" id="laundry-tbl">
                        <colgroup>
                            <col width="5%">
                            <col width="15%">
                            <col width="25%">
                            <col width="25%">
                            <col width="10%">
                        </colgroup>
                        <thead>
                            <tr>
                                <th class="text-center">#</th>
                                <th class="text-center">Date Added</th>
                                <th class="text-center">Code</th>
                                <th class="text-center">Client</th>
                                <th class="text-center">Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for laundry in laundries %}
                            <tr>
                                <td class="text-center">{{ forloop.counter }}</td>
                                <td>{{ laundry.date_added|date:"Y-m-d h:i A"}}</td>
                                <td>
                                    <div class="lh-1">
                                        <div>{{ laundry.code}}</div>
                                    </div>
                                </td>
                                <td>
                                    <div class="lh-1">
                                        <div>{{ laundry.client}}</div>
                                        <div>{{ laundry.contact}}</div>
                                    </div>
                                </td>
                                <td class="text-center">
                                    {% if laundry.status == '0' %}
                                    <span
                                        class="badge badge-secondary bg-gradient bg-secondary px-3 rounded-pill bg-opacity-75 text-sm py-1">Pending</span>
                                    {% elif laundry.status == '1' %}
                                    <span
                                        class="badge badge-primary bg-gradient bg-primary px-3 rounded-pill bg-opacity-75 text-sm py-1">In-Progress</span>
                                    {% elif laundry.status == '2' %}
                                    <span
                                        class="badge badge-success bg-gradient bg-success px-3 rounded-pill bg-opacity-75 text-sm py-1">Done</span>
                                    {% elif laundry.status == '3' %}
                                    <span
                                        class="badge badge-warning bg-gradient bg-warning px-3 rounded-pill bg-opacity-75 text-sm py-1">Picked
                                        Up</span>
                                    {% else %}
                                    <span
                                        class="badge badge-light bg-gradient bg-light px-3 border rounded-pill bg-opacity-75 text-sm py-1">N/A</span>
                                    {% endif %}
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- End Main content -->
{% endblock content %}

{% block ScriptBlock %}
<script>
    $(function () {
        $('#laundry-tbl').find('td, th').addClass('px-2 py-1 align-middle')
        $('#laundry-tbl').DataTable({
            columnDefs: [{
                orderable: false,
                targets: [4]
            }],
            lengthMenu: [
                [5, 10, 50, -1],
                [5, 10, 50, "All"]
            ]
        })
    })

</script>
{% endblock ScriptBlock %}